<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-primary mr-5">Add User</button>
            <button type="button" class="btn btn-primary mr-5">Get Users</button>
            <button type="button" class="btn btn-primary mr-5">Log In User</button>
            <button type="button" class="btn btn-primary mr-5">Update User</button>
            <button type="button" class="btn btn-primary mr-5">Delete User</button>
        </div>
    </div>
</div>