<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-primary mr-5" (click)="addStudent()">Add User</button>
            <button type="button" class="btn btn-primary mr-5" (click)="getStudents()">Get Users</button>
            <button type="button" class="btn btn-primary mr-5" (click)="login()">Log In User</button>
            <button type="button" class="btn btn-primary mr-5" (click)="updateUser()">Update User</button>
            <button type="button" class="btn btn-primary mr-5" (click)="deleteuser()">Delete User</button>
        </div>
    </div>
</div>